# https://editorconfig.org



root = true


# 以下规则所有文件都使用
[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true # true---ide 会在ctrl+s时自动在最后默认添加一个空行，
max_line_length = 80 # ide 会标记一根线作为一行最长的提示。所以应该跟lint代码里的一行配置保持一致才好